<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" package="org.linphone.xamarin" android:versionCode="001" android:versionName="0.0.1">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="LinphoneXamarin"></application>
</manifest>