
# Generate files, do not commit
Xamarin/Xamarin/Xamarin/LinphoneWrapper.cs
Xamarin/Xamarin/Liblinphone/liblinphone-sdk.aar
Xamarin/.vs/
Xamarin/Xamarin/Liblinphone/obj/
Xamarin/Xamarin/Xamarin.Android/obj/
Xamarin/Xamarin/Xamarin.iOS/bin/
Xamarin/Xamarin/Xamarin.iOS/obj/
