/*
Copyright (C) 2017 Belledonne Communications SARL

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
*/

using System;
using System.Runtime.InteropServices;

namespace Linphone
{
    public class LinphoneWrapper 
    {
        public const string LIB_NAME = "linphone-x86.so";
		
		[DllImport(LinphoneWrapper.LIB_NAME)]
		static extern int belle_sip_object_data_set(IntPtr ptr, string name, IntPtr data, IntPtr cb);

        internal static void set(IntPtr ptr, IntPtr obj)
        {
            belle_sip_object_data_set(ptr, "cs_obj", obj, IntPtr.Zero);
        }

        [DllImport(LinphoneWrapper.LIB_NAME)]
		static extern IntPtr belle_sip_object_data_get(IntPtr ptr, string name);

        internal static IntPtr get(IntPtr ptr)
        {
            return belle_sip_object_data_get(ptr, "cs_obj");
        }
    }

    {{#classes}}
    {{#_class}}
    public class {{className}}
    {
        internal IntPtr nativePtr;

		internal static {{className}} fromNativePtr(IntPtr ptr)
		{
			if (ptr == null) return null;
			IntPtr objPtr = LinphoneWrapper.get(ptr);
			if (objPtr == IntPtr.Zero)
			{
				{{className}} obj = new {{className}}();
				obj.nativePtr = ptr;
				Marshal.StructureToPtr(obj, objPtr, false);
				LinphoneWrapper.set(ptr, objPtr);
				return obj;
			} 
			else
			{
				return Marshal.PtrToStructure<{{className}}>(objPtr);
			}
		}
		
        {{#dllImports}}
        {{{prototype}}}
		
        {{impl}}
		
        {{/dllImports}}
    }
    {{/_class}}
	
    {{/classes}}
}